/* MessagesComponent's private CSS styles */
h3 {
  color: red;
  font-family: Courier, Roboto, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: crimson;
}

div {
  font-family: monospace;
}

button.clear {
  font-family: Roboto, Courier, sans-serif;
  font-size: medium;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button.clear {
  color: #888;
  margin-top: 12px;
}
